.greegreeting-screen {
  background-color: #87509c;
}

.services-provide {
  background-color: #17C2A4;
  color: #FFF;
  padding-top: 50px;

  .services-provide__subtitle {
    padding-bottom: 40px;
    max-width: 610px;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
  }

  .services-provide__content-holder {
    padding: 0 20px;

    &>h4 {
      padding-bottom: 15px;
      font-size: 21px;
      letter-spacing: 2.5px;
      font-family: "Titillium Web";
      font-weight: 700;
    }

    &:last-child {
      padding-bottom: 48px;
      font-size: 16px;
      letter-spacing: 0px;
      font-family: "Titillium Web";
      font-weight: 300;
      text-align: center;
    }
  }

  .services-provide__img {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    img {
      height: 124px;
    }
  }

  @media (min-width: $md) {
    padding-top: 80px;

    .services-provide__subtitle {
      padding-bottom: 60px;
    }

    .services-provide__content-holder {
      padding: 0 30px;
      margin: 0 10px;

      &>h4 {
        padding-bottom: 20px;
      }

      &:last-child {
        padding-bottom: 60px;
      }
    }

    .services-provide__img {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $lg) {
    padding-top: 119px;

    .services-provide__title {
      letter-spacing: 4.4px;
      padding-bottom: 45px;
    }

    .services-provide__img {
      margin-bottom: 55px;
    }

    .services-provide__subtitle {
      line-height: 25px;
    }

    .services-provide__subtitle {
      padding-bottom: 79px;
    }

    .services-provide__content-holder {
      max-width: 200px;
      padding: 0;

      &>h4 {
        padding-bottom: 13px;
      }

      &:last-child {
        padding-bottom: 125px;
      }
    }
  }
}

.team {
  background-color: #e7f1f8;
  color: #3c4761;
  padding-top: 50px;

  .team_title {
    padding-bottom: 25px;
    letter-spacing: 4.1px;
    margin-left: 5px;
  }

  .team__subtitle {
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: 0.35px;
    font-family: "Titillium Web";
    font-weight: 400;
    text-align: center;
  }

  .team__content-holder {
    padding: 0 20px;
    margin-bottom: 50px;

    .team__img {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      img {
        width: 200px;
        height: 200px;
      }
    }

    .team__member-name {
      margin-left: 10px;
      text-transform: uppercase;
      font-size: 24px;
      letter-spacing: 1px;
      line-height: 30px;
      color: #27283d;
      font-family: "Titillium Web";
      font-weight: 700;
      margin-bottom: 10px;
    }

    .team__profesion {
      margin-left: 5px;
      margin-bottom: 5px;
      font-size: 16px;
      letter-spacing: 0.5px;
      line-height: 18px;
      color: #30bae7;
      font-family: "Titillium Web";
      font-weight: 400;
    }

    .team__text {
      margin-left: 20px;
      width: 85%;
      font-size: 16px;
      letter-spacing: 0px;
      line-height: 24.5px;
      color: #3c4761;
      font-family: "Titillium Web";
      font-weight: 300;
      text-align: center;
      margin-bottom: 10px;
    }

    .team__list-holder {
      display: flex;
      justify-content: center;

      .team__list-item {
        display: inline;
        margin-right: 12px;
      }
    }
  }

  @media (min-width: $md) {

    padding-top: 80px;

    .team_title {
      padding-bottom: 45px;
      letter-spacing: 4.1px;
      margin-left: 5px;
    }

    .team__subtitle {
      padding-bottom: 78px;
      text-align: center;
      margin: 0 auto;
      font-size: 18px;
      letter-spacing: 0.35px;
      font-family: "Titillium Web";
      font-weight: 400;
      text-align: center;
    }

    .team__content-holder {
      padding: 0 20px;
      margin-bottom: 130px;

      .team__img {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        img {

          width: 200px;
          height: 200px;


        }


      }

      .team__member-name {
        margin-left: 10px;
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 30px;
        color: #27283d;
        font-family: "Titillium Web";
        font-weight: 700;
        margin-bottom: 10px;
      }

      .team__profesion {
        margin-left: 5px;
        margin-bottom: 21px;
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 18px;
        color: #30bae7;
        font-family: "Titillium Web";
        font-weight: 400;
      }

      .team__text {
        margin-left: 20px;
        width: 85%;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 24.5px;
        color: #3c4761;
        font-family: "Titillium Web";
        font-weight: 300;
        text-align: center;
        margin-bottom: 29px;
      }

      .team__list-holder {
        display: flex;
        justify-content: center;

        .team__list-item {
          display: inline;
          margin-right: 12px;
        }
      }
    }
  }
  @media (min-width: $lg) {
    padding-top: 119px;

    .team_title {
      padding-bottom: 45px;
      letter-spacing: 4.1px;
      margin-left: 5px;
    }

    .team__subtitle {
      padding-bottom: 78px;
      text-align: center;
      margin: 0 auto;
      font-size: 18px;
      letter-spacing: 0.35px;
      font-family: "Titillium Web";
      font-weight: 400;
      text-align: center;
    }

    .team__content-holder {
      padding: 0 20px;
      margin-bottom: 130px;

      .team__img {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        img {
          width: 200px;
          height: 200px;
        }
      }

      .team__member-name {
        margin-left: 10px;
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 30px;
        color: #27283d;
        font-family: "Titillium Web";
        font-weight: 700;
        margin-bottom: 10px;
      }

      .team__profesion {
        margin-left: 5px;
        margin-bottom: 21px;
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 18px;
        color: #30bae7;
        font-family: "Titillium Web";
        font-weight: 400;
      }

      .team__text {
        margin-left: 20px;
        width: 85%;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 24.5px;
        color: #3c4761;
        font-family: "Titillium Web";
        font-weight: 300;
        text-align: center;
        margin-bottom: 29px;
      }

      .team__list-holder {
        display: flex;
        justify-content: center;

        .team__list-item {
          display: inline;
          margin-right: 12px;
        }
      }
    }
  }
}

.skilss {
  background-color: #fff;
  color: #3c4761;
  padding-top: 50px;

  .skilss__subtitle {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    font-family: "Titillium Web";
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .skilss__indikator-holder {
    margin-bottom: 20px;
  }

  .skilss__indikator {
    margin-left: 15px;
  }

  .skilss__indikator-title {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #3c4761;
    font-family: "Titillium Web";
    font-weight: 700;
    margin-bottom: 30px;
  }

  @media (min-width: $md) {
    padding-top: 80px;

    .skilss__subtitle {
      max-width: 568px;
      margin-bottom: 83px;
    }

    .skilss__indikator-holder {

      margin-bottom: 80px;
    }
  }

  @media (min-width: $lg) {
    padding-top: 117px;

    .skilss__subtitle {
      max-width: 568px;
      margin-bottom: 83px;
    }

    .skilss__indikator-holder {

      margin-bottom: 100px;
    }
  }
}

.portfolio {
  background-color: #ffdd99;
  font-family: "Titillium Web";
  color: #393939;
  padding-top: 50px;
  padding-bottom: 30px;
  .portfolio__title {
    padding-bottom: 25px;
  }
  .portfolio__subtitle {
    max-width: 515px;
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
  }
  .portfolio__button-holder {
    display: flex;
    justify-content: center;
  }
  .portfolio__button {
    &:first-child {
      min-width: 84px;
    }
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #393939;
    font-weight: 700;
    border: none;
    background-color: #ebc985;
    padding: 10px 15px;
    margin: 0 5px 40px 5px;
    &:hover {
      background-color:#fff;
    }
  }
  .portfolio__img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0 5px;
  }
  .portfolio__wrapper-content {
    width: 100%;
    max-width: 541px;
  }
  .portfolio__desc {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: 20px;
    color: #393939;
    font-weight: 700;
    text-transform: uppercase;
  }
  .portfolio__button-holder {
    flex-wrap: wrap;
  }
  .portfolio__bottom-button {
    margin: 0 auto;
    margin-top: 13px;
    background-color: #17c2a4;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #fff;
    font-weight: 700;
    &:after {
      content: "";
    border-bottom: 4px solid #14a58c;
    }
  }
  @media (min-width: $md) {
    padding-bottom: 30px;
    .portfolio__title {
      padding-bottom: 25px;
    }
    .portfolio__subtitle {
      max-width: 515px;
      font-size: 18px;
      margin-bottom: 20px;
    }
    .portfolio__button {
      font-size: 18px;
      padding: 10px 22px;
      margin: 0 5.5px 62px 5.5px;
    }
    .portfolio__img-container {
      margin-bottom: 27px;
    }
    .portfolio__desc {
      margin-bottom: 64px;
      font-size: 18px;
    }
    .portfolio__bottom-button {
      margin-top: 13px;
      padding: 15px 40px;
      font-size: 18px;
    }
  }
  @media (min-width: $lg) { 
    padding-top: 120px;  
    padding-bottom: 109px;
    .portfolio__title {
      margin-bottom: 18px;
    }
    .portfolio__subtitle {
      margin-bottom: 37px;
      font-size: 18px;
    }
    .portfolio__button {
      font-size: 18px;
      padding: 10px 22px;
      margin: 0 5.5px 62px 5.5px;
    }
    .portfolio__img-container {
      margin-bottom: 27px;
    }
    .portfolio__desc {
      margin-bottom: 64px;
      font-size: 18px;
    }
    .portfolio__bottom-button {
      margin-top: 13px;
      padding: 25px 56px;
      font-size: 18px;
    }
  }
}

.people-say {
  background-color: #d74680;
  padding-top: 119px;
  font-weight: 400;
  font-family: "Titillium Web";
  color: #fff;
  .people-say__title {
    padding-left: 6px;
    letter-spacing: 4.6px;
    font-size: 39px;
    padding-bottom: 43px;
    &:after {
      color: #b73c6d;
    }
  }
  .people-say__subtitle {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-left: 4px;
    line-height: 26px;
    margin-bottom: 65px;
  }
  .people-say__content-holder {
    display: flex;
    padding-right: 30px;
  }
  .people-say__img-holder {
    padding-right: 48px;
    padding-left: 15px;
    padding-bottom: 210px;
  }
  .people-say__comment {
    //max-width: 350px;
    padding-top: 5px;
    font-size: 21px;
    letter-spacing: 0.35px;
    line-height: 31px;
    font-style: italic;
    padding-bottom: 21px;
  }
  .people-say__name {
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 26px;
    font-weight: 700;
    padding-bottom: 1px;
    text-transform: uppercase;
    padding-left: 3px;
    
  }
  .people-say__position {
    font-size: 18px;
    letter-spacing: 0.5px;
    padding-left: 3px;
    line-height: 26px;
    color: #ffdd99;
  }
  .people-say__img-holder--riht {
    margin-left: 22px;
  }
  .people-say__img-holder--cuted {
    padding-bottom: 200px;
  }
  .people-say__comment--right {
    letter-spacing: -0.4px;
  }
}

.form {
  background-color: #3c5499;
}