
$grid-count: 4;
$grid-gutter-width: 150px;
$breakpoints: (
        sm: 320px,
        md: 768px,
        lg: 1200px
);

@for $i from 1 through $grid-count {
  .col-#{$i} {
    width: 100% / $grid-count * $i;
  }
}


@each $item, $breakpoint in $breakpoints {
  @media all and (min-width: $breakpoint) {
    @for $i from 1 through $grid-count {
      .col-#{$item}-#{$i} {
        width: 100% / $grid-count * $i;
      }
    }
  }
}